<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group">
      <a href="#" class="bg-transparent list-group-item list-group-item-action" style="border:none!important;margin-bottom: 3rem;margin-top: 1rem;">
          <div class="w-100 justify-content-start align-items-center">
              <img id="collapse-icon" class="fa-fw mr-3" src="/assets/profile/icono-hc.svg" style="width:30px" />
              <span id="collapse-text" class="menu-collapsed"><img src="/assets/logo.png" alt="human-capital" width="100%"></span>
          </div>
      </a>
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-transparent list-group-item list-group-item-action flex-column align-items-start">
            <div class="w-100 justify-content-start align-items-center">
                <img id="collapse-icon" class="fa-fw mr-3" src="/assets/profile/icono-administracion.svg" style="width:30px" />
                <span class="menu-collapsed">Administración</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img id="collapse-icon" class="mr-2" src="/assets/profile/icono-empresa.svg" width="20px" height="20px" />
                <span class="menu-collapsed">Empresa</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img id="collapse-icon" class="mr-2" src="/assets/profile/icono-parametros.svg" width="20px" height="20px" />
                <span class="menu-collapsed">Parametros Globales</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img id="collapse-icon" class="mr-2" src="/assets/profile/icono-productos.svg" width="20px" height="20px" />
                <span class="menu-collapsed">Productos HC</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img id="collapse-icon" class="mr-2" src="/assets/profile/icono-perfiles.svg" width="20px" height="20px" />
                <span class="menu-collapsed">Perfiles Globales</span>
            </a>
        </div>
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-transparent list-group-item list-group-item-action flex-column align-items-start">
            <div class="w-100 justify-content-start align-items-center">
                <img id="collapse-icon" class="fa-fw mr-3" src="/assets/profile/icono-auditoria.svg" style="width:30px"/>
                <span class="menu-collapsed">Auditoria</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <img src="" alt="">
                <span class="menu-collapsed">Settings</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <span class="menu-collapsed">Password</span>
            </a>
        </div>
        <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="bg-transparent list-group-item list-group-item-action flex-column align-items-start">
            <div class="w-100 justify-content-start align-items-center">
                <img id="collapse-icon" class="fa-fw mr-3" src="/assets/profile/icono-repositorio.svg" style="width:30px" />
                <span class="menu-collapsed">Repositorio</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu3' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <span class="menu-collapsed">Settings</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-white">
                <span class="menu-collapsed">Password</span>
            </a>
        </div>
        <a href="#" data-toggle="sidebar-colapse" style="margin-top: 15em!important;" class="bg-transparent list-group-item list-group-item-action align-items-center">
            <div class="w-100 justify-content-start align-items-center" style="margin:0;">
                <span id="collapse-icon fa-fw" class="collapse-icon"></span>
                <span id="collapse-text" class="menu-collapsed"><img src="/assets/profile/circle-left.png" alt="circle-right" style="width: 40px;position: relative;left: 10rem;"></span>
            </div>
        </a>
    </ul><!-- List Group END-->
</div><!-- sidebar-container END -->
