#body-row
    margin-left:0
    margin-right:0

#sidebar-container
    min-height: 100vh
    background: url(/assets/profile/fondo-menu.svg)
    background-repeat: no-repeat
    background-size: 100vh 150vh
    background-position: center
    padding: 0

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded
    width: 230px

    .fa-fw
      display: none

    .list-group a div
      margin: 5px 0px

.sidebar-collapsed
    width: 60px

    .fa-fw
      display: block

    .collapse-icon
      background: url(/assets/profile/circle-right.png)
      background-size: cover
      width: 40px
      height: 40px
      display: block
      position: relative
      right: 10px

    .list-group-item
      margin: initial !important

/* Menu item*/
#sidebar-container .list-group a
    height: 70px
    color: white

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a
    height: 45px
    padding-left: 30px
    border: none

.sidebar-submenu
    font-size: 0.9rem

/* Separators */
.sidebar-separator-title
    background-color: #333
    height: 35px

.sidebar-separator
    background-color: #333
    height: 25px

.logo-separator
    background-color: #333
    height: 60px

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item .submenu-icon
  display: none

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon
  background: url(/assets/profile/arrow-down.png)
  background-size: cover
  display: inline-block
  float: right
  width: 20px
  height: 15px

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon
  background: url(/assets/profile/arrow-right.png)
  background-size: cover
  display: inline-block
  float: right
  width: 15px
  height: 20px

.list-group-item
  border: none
  border-top: 1px solid rgba(255, 255, 255, 0.6)
  padding: 1em
