<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="2%">
  <div fxFlex class="logo-wrapper">
    <img src="/assets/logo.png" alt="logo" class="logo-login">
  </div>
   <div fxFlex class="form-wrapper">
     <form class="container" action="">
       <div class="form-group input-group">
         <img src="/assets/login/user-icon.svg" alt="logo" class="icon-login">
         <input class="form-control" type="text" name="email" placeholder="Correo electrónico">
       </div>
       <div class="form-group input-group">
         <img src="/assets/login/candado-icon.svg" alt="logo" class="icon-login">
         <input class="form-control" type="text" name="password" placeholder="Contraseña">
       </div>
       <input class="form-control login-submit" type="submit" name="submit" value="Iniciar sesión">
       <div class="form-check">
         <input class="form-check-input" type="checkbox" id="inlineFormCheck">
         <label class="form-check-label" for="inlineFormCheck">Recordar contraseña</label>
       </div>
     </form>
   </div>
</div>
