// Variables
$checkbox-width: 16px

@mixin optional-at-root($sel)
  @at-root #{if(not &, $sel, selector-append(&, $sel))}
    @content

@mixin placeholder
  @include optional-at-root('::-webkit-input-placeholder')
    @content

  @include optional-at-root(':-moz-placeholder')
    @content

  @include optional-at-root('::-moz-placeholder')
    @content

  @include optional-at-root(':-ms-input-placeholder')
    @content

.login-wrapper
  background: url(/assets/login/fondo-logo.svg)
  background-position: top
  background-size: cover
  height: 100%
  width: 100%

  .logo-wrapper
    align-items: center
    border-right: 2px solid white
    display: flex
    height: 300px
    justify-content: flex-end

    @media screen and (max-width: 800px)
      align-items: center
      border-bottom: 2px solid white
      border-right: none
      width: 80%

.form-wrapper
  .form-group
    background: white
    border-radius: 5px
    width: 70%
    margin-bottom: 2rem
    height: 38px

    @media screen and (max-width: 800px)
      width: 100%

    .form-control
      background: none
      border: none
      padding: 0
      color: #26508C

      @include placeholder
        color: #26508C

      &:focus
        box-shadow: none

  input[type="checkbox"]
    position: absolute
    left: -9999px

    & + label
      position: relative
      display: inline-block
      padding: 6px 10px 6px ($checkbox-width + 10)
      cursor: pointer
      color: white
      font-size: 12px

      // Default State
      &:before
        display: block
        content: ""
        position: absolute
        left: 0
        top: 50%
        margin: (-$checkbox-width/2) 0 0
        width: $checkbox-width
        height: $checkbox-width
        background-color: white
        border-radius: 2px
        background-repeat: no-repeat
        background-size: 12px
        background-position: center

    // Checked State
    &:checked + label
      &:before
        background-image: url(/assets/login/checkbox-icon-active.svg)

    // Disabled State
    &:disabled
      & + label
        cursor: not-allowed

        &:before
          background-position: (-$checkbox-width*2) 0

      // Disabled Checked
      &:checked + label
        &:before
          background-position: (-$checkbox-width*3) 0

  // Extra layout styling
  .form-check
    padding: 0

  .icon-login
    padding: 10px
    width: 34px

  .login-submit
    background: none
    border: 2px solid white
    color: white
    width: 40%
    margin-bottom: 1rem

    @media screen and (max-width: 800px)
      width: 100%

.logo-login
  width: 70%
  margin-right: 2%

  @media screen and (max-width: 800px)
    width: 100%
