<router-outlet></router-outlet>
<ngx-spinner bdColor="#315d93" size="small" color="#fff" type="">
  <img class="logo_loading" src="assets/logo.png">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ngx-spinner>
