<div class="row" id="body-row" style="width:100%;margin:0;">
  <app-navbar></app-navbar>
  <!-- MAIN -->
    <div class="col p-4">
      <div class="fixed-profile"><span>Prueba</span></div>
      <a href="#logout" class="fixed-logout"></a>
    </div>
</div>
