.fixed-profile
  background: url(/assets/profile/fondo-fixed-profile.svg)
  background-repeat: no-repeat
  background-size: cover
  width: 190px
  height: 45px
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  right: 8em

  span
    color: #315d91
    margin-right: 4em
    font-size: 12px
    font-weight: 600

.fixed-logout
  position: fixed
  background: url(/assets/profile/icono-logout.svg)
  background-repeat: no-repeat
  background-size: 40px
  background-position: center
  width: 55px
  height: 45px
  display: block
  right: 4em
